@tailwind base;
@tailwind components;
@tailwind utilities;
/*
// @tailwind screens;
// @tailwind typography;
// @tailwind forms;
// @tailwind aspect-ratio;
// @tailwind line-clamp;
// @tailwind animations;
// @tailwind gradients;
// @tailwind filters;
// @tailwind transitions;
// @tailwind shadows;
*/

body {
    font-family: sans-serif;
    text-align: center;
}

nav {
    position: absolute;
    bottom: 0;
    width: 100dvw;

    ul {
        display: flex;
        gap: 1rem;
        justify-content: center;
        background-color: aquamarine;
        align-items: stretch;
        height: 3rem;

        a {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            border: solid 1px black;
            align-content: center;
        }
    }
}
