@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;
/*
// @tailwind screens;
// @tailwind typography;
// @tailwind forms;
// @tailwind aspect-ratio;
// @tailwind line-clamp;
// @tailwind animations;
// @tailwind gradients;
// @tailwind filters;
// @tailwind transitions;
// @tailwind shadows;
*/

body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

/* Taken from MDN */
::backdrop {
    background-image: linear-gradient(45deg,
            magenta,
            rebeccapurple,
            dodgerblue,
            green);
    opacity: 0.75;
}
